@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}
.navbar-brand img{
    width: 400px;
    height: 60px;
}
nav{
    width: 100%;
    height: 100px;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: 'Open Sans', sans-serif;
}
.nav-link.active{
    border-bottom: 4px solid rgb(148, 8, 148);
}
.nav-link:hover{
    border-bottom: 4px solid rgb(148, 8, 148);
}
.nav-link{
    align-items: center;
    margin: 10px;
}
.bienvenida .bienvenida-contenedor a img{
    width: 100%;
    height: 65vh;
}

/*FONDOS*/
.ver-mas{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-decoration: none;
    padding: 7px 40px;
    margin-top: 40px;
    transition: .9s;
}
.ver-mas:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgb(4, 130, 103);
    border: 1px solid #fff;
    transition: .8s;
}
.contenido{
    padding: 5px;
    margin: 5px;
}
.peliculas{
    background-image: url(../Media/Home/peliculas-hd.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: end;
    text-align: start;
    flex-direction: column;
    padding: 4em;
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
}

.premium{
    background-image: url(../Media/Home/pack-premium.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    padding: 4em;
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
}

.futbol{
    background-image: url(../Media/Home/pack-futbol.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    padding: 4em;
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
}

.internet{
    background-image: url(../Media/Home/internet.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    padding: 4em;
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
}

.iconos-contenedor-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4em;
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
}
.icono{
    display: flex;
    flex-direction: column;
    padding: 2em;
}
.icono a img{
    width: 150px;
    height: 100px;
    transition: .5s;
}
.icono a img:hover{
    transition: .5s;
    transform: scale(1.1 , 1.1);
}


/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(192, 192, 192);
}
.footer-contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer-head{
    padding: 2em 0;
}
.footer-head a img{
    width: 400px;
    height: 60px;
}
.footer-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
    width: 80%;
    background-color: rgb(255, 255, 255);
}
.footer-body a img{
    width: 30px;
    height: 30px;
    transition: .7s;
}
.footer-body a img:hover{
    transition: .7s;
    transform: scale(1.2 , 1.2);
}
.footer-footer{
    background-color: rgb(29, 29, 29);
    color: #fff;
    padding: 1.5em;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    padding: 2em;
    border-top: 1px solid rgb(192, 192, 192);
}
.footer-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.footer-nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
}
.footer-nav ul li a:hover{
    border-bottom: 2px solid rgb(148, 8, 148);
}
.footer-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border-top: 1px solid rgb(192, 192, 192);
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
}
.footer-contenido-historia{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em 0;
}
.footer-contenido-numeros{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.footer-contenido-numeros p{
    color: rgb(126, 10, 126);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.footer-contenido-numeros h2{
    font-size: 22px;
}